<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    h2{
        text-align:center; 
        background-color:black; 
        color:white;
      }
      
      h1{ 
        text-align: center;
        font-family: Impact;
        background-color: #c8045e;
        color: #ffffff;
        font-size: 30pt;
      }
      
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      
      body {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
        }
        
        .topnav {
          overflow: hidden;
          background-color: #e9e9e9;
          font-family: impact;
        }
        
        .topnav a {
          float: left;
          display: block;
          color: black;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }
        
        .topnav a:hover {
          background-color: #ddd;
          color: black;
        }
        
        .topnav a.active {
          background-color: #c8045e;
          color: white;
        }
        
        .topnav .search-container {
          float: right;
        }
        
        .topnav input[type=text] {
          padding: 6px;
          margin-top: 8px;
          font-size: 17px;
          border: none;
        }
        
        </style>
</head>
        <body>
            <div class="topnav">
              <a href="http://127.0.0.1:5502/public/index.html">HOME</a>
              <a href="http://localhost:8080/dbuser">REGISTER</a>
              <a class="active" href="http://127.0.0.1:5502/public/Navigate.html">NAVIGATE</a>
              </div>

              <h1>UPDATE USER INFORMATION</h1>

<h2>Please Fill Out All Fields:</h2>
<p>Enter the Title of the song you want to update along with the fields you're updating</p>
<p>For any information that will remain unchanged, please fill it in </p>
<form method="POST" action="/update">
    <input type="number" name="std_music_id" class = "form" placeholder="Enter MusicID">
    <input type="text" name="std_title" class = "form" placeholder="Enter Song Title">
    <input type="text" name="std_artist" class="form" placeholder="Enter Artist Name">
    <input type="text" name="std_album" class="form" placeholder="Enter Album Name">
    <input type="text" name="std_genre" class="form" placeholder="Enter Genre">
    <input type="number" name="std_ReleaseYear" class="form" placeholder="Enter Release Year">
<button>Update</button>
</form>
    
        <h1>ALL MUSIC</h1>
        <table style="border: 1px solid black">
            <tr style="text-align:left; background-color:#c8045e; color:#ffffff; border-bottom: 1px solid black">
            <th>MusicID</th>
            <th>UserID</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Genre</th>
            <th>Release Year</th>
            </tr>
            <% data.forEach(function(Music){ %>
            <tr style="text-align:left; border-bottom: 1px solid black; background-color:#e9e9e9">
            <td><%=Music.music_id %></td>
            <td><%=Music.user_id %></td>
            <td><%=Music.music_title %></td>
            <td><%=Music.music_artist%></td>
            <td><%=Music.music_album%></td>
            <td><%=Music.music_genre%></td>
            <td><%=Music.music_ReleaseYear%></td>
            <% }) %>
            </tr>
            </table>